* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 320px;
    height: auto;
    background-color: #000;
    color: #fff;
    padding: 70px 30px 50px;
    position: relative;
}

.avatar {
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 50px);
    top: -50px;
}

.login-box h1 {
    padding-bottom: 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    display: block;
    font-weight: 700;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type='text'],
.login-box input[type='password'] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type='submit'] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box-links {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover {
    color: #fff;
}